<div class="wiki">
<p>
This tool was inspired by a <a target="_blank" title="(external link)" href="http://eaves.ca/2009/06/29/how-open-data-even-makes-garbage-collection-sexier-easier-and-cheaper/">blog post</a> by <a target="_blank" title="(external link)" href="http://twitter.com/david_a_eaves">@david_a_eaves</a> and created during some late night hacking at the <a target="_blank" title="(external link)" href="http://www.meetup.com/Super-Happy-Hacker-House/">Super Happy Hacker House #1</a> by <a target="_blank" title="(external link)" href="http://twitter.com/lukec">@lukec</a> and <a target="_blank" title="(external link)" href="http://twitter.com/kevinj">@kevinj</a>.</p>
<p>
VanTrash is a service, but also a case study designed to show city councils the services, resources and ingenuity that can emerge when cities open up and share their data.</p>
<p>
If you have questions regarding VanTrash, please consult <a target="_blank" title="(external link)" href="http://vantrash.ca/faq.html">Frequently Asked Questions</a> (FAQ).</p>
</div>
