[% WRAPPER wrapper.tt2 %]
<div class="content">
    <h3>Wait! You're not done yet!</h3>
    <br/>
    <p>You have successfully added your reminder. We just need to confirm that the email you entered is your email. If you don't get the email in the next 10 minutes, check your spam folder.</p>
</div>
<div class="lbButtons">
    <input onclick="closeLightbox()" class="btn" type="button" value="Close"/>
</div>
[% END %]
