<html>
    <head>
        <title>VanTrash</title>
        <link href="vantrash.css" rel="stylesheet" type="text/css" media="screen">
        [% FOR js = javascript %]
            <script src="[% js %]" type="text/javascript"></script>
        [% END %]
    </head>
    <body>
        <div id="header">
            <a href="/"><img src="/images/logo.png"/></a>
        </div>
        <div id="leftNav">
            <div>
              <p>VanTrash is a simple service designed to help you figure out your neighbourhood garbage schedule and set a reminder to your email, cell phone or home phone so you never forget to take the garbage out.</p>
              <p>To find out your pick up schedule and/or set a reminder click on the zone in which you live on the map to your right.</p>
            </div>
            <ul>
                <li><a href="about.html">About this site</a> </li>
                <li> <a href="faq.html">FAQ</a> </li>
                <li> <a href="donate.html">Donate</a> </li>
                <li> <a href="api.html">VanTrash API</a> </li>
            </ul>
        </div>
        <div id="mainContent">
            [% content %]
        </div>

        <!-- Google Analytics -->
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-9939668-1");
            pageTracker._trackPageview();
        } catch(err) {}</script>

        <!-- GetSatisfaction -->
        <script type="text/javascript" charset="utf-8">
          var is_ssl = ("https:" == document.location.protocol);
          var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
          document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
        </script>

        <script type="text/javascript" charset="utf-8">
          var feedback_widget_options = {};
          feedback_widget_options.display = "overlay";  
          feedback_widget_options.company = "vantrash";
          feedback_widget_options.placement = "right";
          feedback_widget_options.color = "#222";
          feedback_widget_options.style = "idea";
          var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
        </script>
    </body>
</html>
