<!doctype html>    

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>        <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>        <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>        <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>VanTrash</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" href="/css/[% version %]/style.css?v=2">
    <link rel="stylesheet" href="/css/[% version %]/jquery-ui-1.8.6.custom.css">

    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <script src="/javascript/[% version %]/libs/modernizr-1.6.min.js"></script>

    <!-- vantrash stuff -->
    <script src="/javascript/[% version %]/vantrash-mini.js"></script>

    [% FOR js = javascript %]
    <script src="[% js %]"></script>
    [% END %]
</head>

<body>
    <div id="container">
        <header>
            <a href="/"><img id="headerLogo" src="/images/new/vantrash_logo.png"/></a>
            <div id="headerLinks">
                <a href="/faq.html">Frequently asked questions</a>
                <a href="/tell-a-friend.html">Tell a friend</a>
                <a href="http://www.twitter.com/vantrash"><img src="http://twitter-badges.s3.amazonaws.com/follow_us-c.png" alt="Follow Vantrash on Twitter"/></a>
                <fb:like href="http://www.vantrash.ca" layout="button_count" width="50"></fb:like>
            </div>
        </header>

        <div id="main">
            [% content %]
        </div>

        <footer>
            <a class="copyright" href="/copyright.html">&copy;2009 Luke Closs and Kevin Jones</a> |
            <a href="/api.html">Technical API</a>
        </footer>
        
    </div> <!-- end of #container -->

    <!--[if lt IE 7 ]>
        <script src="/javascript/[% version %]/libs/dd_belatedpng.js"></script>
        <script> DD_belatedPNG.fix('img, .png_bg'); </script>
    <![endif]-->

    <!-- yui profiler and profileviewer - remove for production
    <script src="/javascript/[% version %]/libs/profiling/yahoo-profiling.min.js"></script>
    <script src="/javascript/[% version %]/libs/profiling/config.js"></script>
         end profiling code -->

    <!-- Google Analytics -->
    <script>
     var _gaq = [['_setAccount', 'UA-9939668-1'], ['_trackPageview']];
     (function(d, t) {
        var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
        g.async = true;
        g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
     })(document, 'script');
    </script>

    <!-- GetSatisfaction -->
    <script type="text/javascript" charset="utf-8">
        var is_ssl = ("https:" == document.location.protocol);
        var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
        document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript" charset="utf-8">
        var feedback_widget_options = {};
        feedback_widget_options.display = "overlay";    
        feedback_widget_options.company = "vantrash";
        feedback_widget_options.placement = "right";
        feedback_widget_options.color = "#222";
        feedback_widget_options.style = "idea";
        var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    </script>
    
</body>
</html>
