<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
    <head>
        <title>VanTrash</title>
        <link rel="shortcut icon" href="/images/favicon.png" />
        <link href="/css/[% version %]/styles.css" rel="stylesheet" type="text/css" media="screen">
        [% FOR js = javascript %]
            <script src="[% js %]" type="text/javascript"></script>
        [% END %]

        [% UNLESS lightbox %]
            <!--[if IE 6]>
            <script type="text/javascript"> 
                var IE6UPDATE_OPTIONS = {
                    icons_path: "/images/ie6update/"
                }
            </script>
            <script type="text/javascript" src="/javascript/ie6update.js"></script>
            <![endif]-->
        [% END %]
    </head>
    <body id="[% id %]">
        [% UNLESS lightbox %]
        <div id="headerLeft">
            <div id="headerLogo"></div>
            <ul id="nav">
                <li><a href="/">Map</a></li>
                <li><a href="/faq.html">Frequently Asked Questions</a></li>
                <li><a href="/tell-a-friend.html">Tell a friend</a></li>
                <li><a href="/donate.html">Donate</a></li>
                <li><a href="/api.html">Technical API</a></li>
                <li class="last"><a href="http://twitter.com/vantrash">Follow us on Twitter</a></li>
            </ul>
            <div id="searchBox">
                <form id="address">
                    <input class="text initial" type="text"/>
                    <input class="submit" type="submit" value=""/>
                </form>
            </div>
        </div>
        <div id="leftNav">
            <div class="sections">
                <p>VanTrash helps you manage your neighbourhood garbage schedule more effectively.</p>
                <p>
                    You can find out your garbage schedule, download the schedule to your calendar
                    or set a reminder to your email.
                    Never forget to take the garbage out again.
                </p>
                [% IF extranav %][% INCLUDE $extranav %][% END %]
            </div>
            <div class="ad">
                <a href="http://vancouver.ca/projects/foodWaste/noplastic.htm"
                    alt="Don't trash your food!">
                    <img src="/images/vantrash-ad-no-plastic.jpg" width="375"/>
                </a>
            </div>
        </div>
        [% END %]
        <div [% IF lightbox %]class="lightbox"[% END %] id="mainContent">
            [% content %]
        </div>
        <div class="clear"></div>

        <!-- Google Analytics -->
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-9939668-1");
            pageTracker._trackPageview();
        } catch(err) {}</script>

        [% UNLESS lightbox %]
        <!-- GetSatisfaction -->
        <script type="text/javascript" charset="utf-8">
          var is_ssl = ("https:" == document.location.protocol);
          var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
          document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
        </script>

        <script type="text/javascript" charset="utf-8">
          var feedback_widget_options = {};
          feedback_widget_options.display = "overlay";  
          feedback_widget_options.company = "vantrash";
          feedback_widget_options.placement = "right";
          feedback_widget_options.color = "#222";
          feedback_widget_options.style = "idea";
          var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
        </script>
        [% END %]
    </body>
</html>
