Just a friendly reminder that garbage in the [% reminder.nice_zone %] zone will be picked up on: [% garbage_day.pretty_day %]

[% IF garbage_day.flags == 'Y' -%]
The city will be collecting yard trimmings in this pickup.

You can now put uncooked vegetable and fruit scraps, coffee ground and filters, teabags and eggshells in your yard trimmings cart. See http://vancouver.ca/projects/foodWaste/index.htm for more details.
[% ELSE -%]
The city will not be collecting yard trimmings in this pickup.
[%- END %]

Please consider voting for VanTrash in the BC Apps4ClimateAction contest! We need your support! Show us your love! :)
  http://apps4climateaction.gov.bc.ca/gallery.aspx

Don't forget to take out your garbage and your recycling!

Click here to tell your friends about VanTrash:

  [% base %]/tell-a-friend.html

Cheers,
The VanTrash Team

Unsubscribe to this reminder service by clicking the following link: 
  [% reminder.delete_url %]
