[% IF reminder.email_target %]
Congratulations! You will now receive email reminders for garbage pick up dates for your neighbourhood!
[% ELSIF reminder.twitter_target %]
Congratulations! You will now receive twitter reminders for garbage pick up dates for your neighbourhood!

Make sure you are following VanTrash user on twitter to receive the messages: http://twitter.com/vantrash
[% END %]

To delete this reminder, click on the link below or copy and paste it into your browser:

  [% reminder.delete_url %]

A cancellation link will be included in every reminder you receive, so you can cancel this service at any time.

If you're excited about the garbage pick-up reminder service (and we hope you are!) please tell your friends about us by clicking the link below: 

  [% base %]/tell-a-friend.html

Cheers,
The VanTrash Team
