Hello there, your friend [% friend_email %] suggested you may be interested
in VanTrash, the garbage reminder service.

The VanTrash allows you to receive a friendly email reminder the day before
garbage gets picked up in your neighbourhood or to simply download the City
of Vancouver's garbage collection calendar into your iPhone, Blackberry or
computer calendar. Since the garbage calendar changes periodically our
service means we notify of changes so you don't have to worry. Never forget
to take the garbage out again!

It's a little service we created for our friends and thought we'd offer it
up to the citizens of Vancouver.

Come visit us at: http://vantrash.ca

Cheers,
The VanTrash Team
