<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
    <head>
        <link rel="shortcut icon" href="/images/favicon.png" />
        <link href="/css/styles.css" rel="stylesheet" type="text/css" media="screen"/>
        <script src="/javascript/vantrash-mobile-mini.js" type="text/javascript"></script>
        [% FOR js = javascript %]
            <script src="[% js %]" type="text/javascript"></script>
        [% END %]
    </head>
    <body id="mobile">
        <noscript>Your browser does not support JavaScript!</noscript>
        <div style="display:none" id="content">
            <a class="elem logo" href="/m/index.html">
                <img src="/images/logo_small.png"/>
                Vancouver Garbage Reminders
            </a>
            [% content %]
        </div>
        <script>$('#content').show()</script>
    </body>
</html>
