<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
    <head>
        <meta name="viewport" content="width=240" />
        <link rel="shortcut icon" href="/images/favicon.png" />
        <link rel="stylesheet" href="/css/[% version %]/style.css?v=2">
        <link rel="stylesheet" href="/css/[% version %]/jquery-ui-1.8.6.custom.css">
        <script src="/javascript/[% version %]/vantrash-mobile-mini.js" type="text/javascript"></script>
    </head>
    <body id="mobile">
        <noscript>Your browser does not support JavaScript!</noscript>
        <div style="display:none" id="container">
            <header>
                <a href="/m/index.html"><div id="headerLogo"></div></a>
            </header>
            
            <div id="main">
                [% content %]
            </div>
            
        </div> <!-- end of #container -->
        <script>$('#container').show()</script>
    </body>
</html>
