[% WRAPPER m/wrapper.tt2
    javascript=["/javascript/vantrash-mobile-mini.js"]
%]
[% FOR zone = zones %]
    <a class="elem" href="/m/zone.html?zone=[% zone.name %]">[% zone.desc %]</a>
[% END %]

<a class="elem last" href="/m/index.html">Home</a>

[% END %]
