*.swp
*.swo
static/javascript/vantrash-*compiled*
static/about.html
static/api.html
static/index.html
.vantrash-rester.conf
static/faq.html
static/donate.html
data/*
!data/trash-zone-times.yaml
!data/vantrash.dump
static/new_reminder.html
static/beta.html
static/beta-lightbox.html
static/donate-lightbox.html
static/new_reminder-lightbox.html
static/new_reminder2.html
static/success.html
static/success-lightbox.html
static/reminder_success.html
static/donate_lb.html
static/new_reminder_lb.html
static/reminder_success_lb.html
template/about_us.html
template/faq.html
