*.swp
*.swo
static/javascript/vantrash-compiled*
static/about.html
static/api.html
static/index.html
.vantrash-rester.conf
static/faq.html
static/donate.html
*.wiki
data/reminders.yaml
data/all
data/root
