*.swp
*.swo
static/javascript/vantrash-*compiled*
static/about.html
static/api.html
static/index.html
.vantrash-rester.conf
static/faq.html
static/donate.html
*.wiki
data/*
static/new_reminder.html
static/beta.html
static/beta-lightbox.html
static/donate-lightbox.html
static/new_reminder-lightbox.html
static/new_reminder2.html
