[% WRAPPER zones/wrapper.html %]
<h1>Zone - [% zone.name %]</h1>
<h2>Attributes</h2>
<ul>
  <li><strong>name</strong>: [% zone.name %]</li>
  <li><strong>area</strong>: [% zone.area %]</li>
  <li><strong>desc</strong>: [% zone.desc %]</li>
  <li><strong>colour</strong>: [% zone.colour %]</li>
</ul>
<h2>Related Resources</h2>
<ul>
  <li><a href="[% zone.uri %]/pickupdays">Pickup Days</a> (<a href="[% zone.uri %]/pickupdays.ics">iCal</a>)</li>
  <li><a href="[% zone.uri %]/nextpickup">Next Pickup</a></li>
  <li><a href="[% zone.uri %]/nextdowchange">Next Day of Week Change</a></li>
</ul>
[% END %]
