/* CSS Reset Start */ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
table {
    table-layout: fixed;
}
/* Done CSS Reset */

html, body {
    height: 100%;
}
body { 
    font: 10pt helvetica, georgia, sans-serif;
    text-align:center;
    line-height: 1.1;
}

h1, h2, h3, h4 {
    padding: 6px 0;
    font-weight: bold;
}
h1 { font-size: 180% }
h2 { font-size: 150% }
h3 { font-size: 130% }
h4 { font-size: 120% }

#activebar-container {
    text-align: left;
}

input.smallbtn,
input.btn {
    color: #555 !important;
    font: bold 84% helvetica, sans-serif;
    background-color: #eee;
    border: 1px solid #999;
    cursor: pointer;
    display: block;
    margin: 2px;
}

input.smallbtn {
    padding: 0;
}

input.btn {
    padding: 5px;
    font-size: 120%;
    line-height: 1.5;
}

.border {
    border: 3px solid #cccccc;
    padding: 0 5px;
    font-size: 160%;
}

.border.email {
    width: 300px;
}

a img {
    border: none;
}

.clear {
    clear: both;
}
.warning {
    color: #d34f40;
    font-style: italic;
    font-weight: bold;
    margin: 10px 0;
}
#header {
    width:100%;
    text-align: left;
    height: 97px;
    background: url(/images/header_bg.png) top left repeat;
}
#headerLeft {
    padding-left: 10px;
    height: 97px;
    background: url(/images/header_left.png) top left no-repeat;
}
#headerRight {
    padding-right: 10px;
    height: 97px;
    background: url(/images/header_right.png) top right no-repeat;
}
#header .tagline {
    position: absolute;
    left: 0;
    top: 40px;
    font-size: 120%;
    text-align: center;
    width: 100%;
    font-style: italic;
}

#mainContent.lightbox {
    padding: 0;
    width: 95%;
}
#mainContent {
    margin-top: 10px;
    text-align:left;
    float: left;
    width: 72%;
    height: 80%;
}
.clear {
    clear: both;
}
#leftNav {
    width: 26%;
    float: left;
    padding: 5px 10px;
    text-align: left;
}
#leftNav p {
    margin: 4px 0;
}
#leftNav ul {
    margin-top: 5px;
}
#leftNav li {
    padding: 4px 0;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    border-top: 1px dashed #aaa;
}
#leftNav li.last {
    border-bottom: 1px dashed #aaa;
}
#leftNav a {
    text-decoration: none;
}
#leftNav a:hover {
    text-decoration: underline;
}
#mapCanvas {
    height: 100%;
}

.balloon {
    height: 220px;
    width: 220px;
    text-align: center;
}
.balloon .buttons {
    margin-top: 4px;
    margin-right: 10px;
    float: right;
    width: 100px;
    z-index: 100;
}
.balloon .buttons .smallbtn {
    text-align: center;
    width: 95px;
}
.balloon .zoneName {
    font-weight: bold;
    margin-bottom: 10px;
}
.balloon .next .title {
    font-weight: bold;
}
.balloon .next {
    font-size: 90%;
    margin-bottom: 10px;
}

.legend {
    margin-top: 10px;
    float: left;
    text-align: left;
    width: 110px;
}
.legend table {
    border-collapse: collapse;
    font-size: 90%;
}
.legend .key {
    width: 27px;
    border: 1px solid black;
}
.legend .label {
    padding-left: 2px;
}
.legend .padding {
    height: 8px;
}

.calendar {
    border-collapse: collapse;
    font-size: 90%;
    height: 123px;
    width: 220px;
}
.calendar td {
    text-align:center;
    margin: 0;
}
.calendar .today {
    font-weight: bold;
}
.calendar .day {
    border: 1px solid black;
    width: 27px;
}

.success {
    padding: 60px;
    font-size: 220%;
    background-color: #a5c880;
}
.error {
    padding: 60px;
    font-size: 220%;
    background-color: #FF4949;
}

.wizard {
    color: #333;
}
.wizard .title {
    font-size: 110%;
    font-weight: bold;
}
.lbButtons {
    position: absolute;
    bottom: 1px;
    right: 0;
}
.button {
    margin-right: 4px;
}
.wizard .section {
    padding-top: 5px;
}
.wizard .section .button img {
    vertical-align: middle;
}
.firststep {
    font-weight: bold;
    padding: 15px 0;
}
.ad {
    padding: 5px 0;
}
.tellfriends label {
    font-size: 120%;
}
.tellfriends h1 {
    font-size: 130%;
}
.question {
    padding: 15px 2px;
}

#customOffset {
    display: none;
}

.lbButtons {
    width: 100%;
}

.lbButtons .btn {
    float: right;
}

.lbButtons .btn.Back {
    float: left;
}

/* lightbox */
#lightbox{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    line-height: 0;
}
#lightboxContent {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    padding: 10px;
}
#loading{
    position: absolute;
    top: 40%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}
#overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 500px;
    background-color: #000;
    filter:alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    display: none;
}
#lightboxIframe {
    display: none;
}	
#closeButton {
    position: absolute;
    top: 10px;
    right: 8px;
}
.wiki {
    padding: 10px;
}
.donate {
    padding: 10px;
    font-size: 110%;
}
#mainContent p {
    padding: 6px 0;
}
.donatebtn {
    padding: 20px;
}
.api ul {
    padding: 8px;
    padding-left: 20px;
}
.example {
    padding: 10px;
    padding-left: 30px;
    font-family: Courier;
}
