html {
    margin: 0;
    padding: 0;
}
body { 
    font: 75% verdana, georgia, sans-serif;
    text-align:center;
    line-height: 1.1;
}

a img {
    border: none;
}

h1 {
    margin:4px;
}
#header {
    width:100%;
    text-align: left;
    height: 97px;
    background-color: #a5c880;
}
#headerLeft {
    padding-left: 10px;
    height: 97px;
    background: url(/images/header_left.png) top left no-repeat;
}
#headerRight {
    padding-right: 10px;
    height: 97px;
    background: url(/images/header_right.png) top right no-repeat;
}
#header .tagline {
    position: absolute;
    left: 0;
    top: 50px;
    font-size: 120%;
    text-align: center;
    width: 100%;
    font-style: italic;
}

#mainContent.lightbox {
    padding: 0;
}
#mainContent {
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 20%;
    text-align:left;
}
#leftNav {
    width: 18%;
    float: left;
    margin-top: 20px;
    padding: 0 10px;
    text-align: left;
}
#leftNav ul {
    padding-left:0;
}
#leftNav li {
    padding: 4px 0;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    border-top: 1px dashed #aaa;
}
#leftNav li.last {
    border-bottom: 1px dashed #aaa;
}
#leftNav a {
    text-decoration: none;
}
#leftNav a:hover {
    text-decoration: underline;
}
#mapCanvas {
    height:80%;
    margin:auto;
}

.balloon {
    height: 200px;
}
.balloon .buttons {
    margin-top: 5px;
}
.balloon a img {
    margin: 0 4px;
}
.balloon .zoneName {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.balloon .next .title {
    font-weight: bold;
}
.balloon .next {
    font-size: 90%;
    margin-bottom: 10px;
    text-align:center;
}

.calendar {
    border-collapse: collapse;
    font-size: 90%;
    height: 123px;
}
.calendar td {
    text-align:center;
    margin: 0;
}
.calendar .today {
    font-weight: bold;
}
.calendar .day {
    border: 1px solid black;
    width: 27px;
}

.success {
    padding: 60px;
    font-size: 220%;
    background-color: #a5c880;
}
.error {
    padding: 60px;
    font-size: 220%;
    background-color: #FF4949;
}
