body {
    text-align: center;
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

h1 {
    margin: 4px;
}
h2 {
    font-style: italic;
    font-size: 80%;
    margin: 4px;
}

.footerLinks {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.footerLinks a {
    margin: 0 10px;
}

#mapCanvas {
    margin: auto;
    height: 80%;
    width: 80%;
}

div.content {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 70%;
    text-align: left;
}

div.example {
    padding: 10px;
    font-size: 120%;
}

div.footer {
    padding: 20px;
    font-size: 40%;
}

